.button {
    padding: 23px 100px;
    border-radius: 3px;
    background: #fff;
    color: #DF9186;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    &__isRounded {
        border-radius: 50px;
    }
    &__isColored {
        background: linear-gradient(270deg, #ECBCB3 0%, var(--main) 100%);
        color: #fff;
    }
    &__isBllack {
        background: #00000080!important;
        color: #fff!important;
    }
    &__isSmall {
        padding: 23px;
        height: 40px;
        align-items: center;
        display: flex;
    }
}