.sighting-detail {
    padding: 80px 0;
    &__user {
        &_description {
            padding: 30px 24px;
            z-index: 9999;
            position: relative;
            margin-top: -80px!important;
            background-color: #fff;
            border-radius: 3px;
            @media only screen and (max-width:575px) {
                padding: 30px 0;
            }
        }
        &_img {
            width: 290px;
            height: 290px;
            @media only screen and (max-width:575px) {
                width: 100%;
            }
        }
    }
    &__about_description {
        .sighting-box__about__description {
            font-size: 13px;
        }
    }
    .total-comments {
        font-family: "Ubuntu";
        font-weight: 300;
        font-size: 25px;
        color: var(--grey);
        margin-left: 20px;
        margin-bottom: 0;
    }
    .box-shadow {
        box-shadow: 0px 15px 30px 0px #0000000D;
    }
}