.sighting-box {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    position: relative;
    width: 280px;
    height: 500px;
    margin: 0 auto 25px;
    cursor: pointer;
    @media only screen and (max-width: 1280px) {
        margin: 0 auto 20px;
    }
    &__image {
        width: 100%;
        height: 280px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    &__button {
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 15px;
        font-size: 12px;
    }
    &__about {
        padding: 20px;
        &__icon {
            display: flex;
            align-items: center;
            height: 40px;
            &__img {
                width: 40px;
                height: 40px;
                border-radius: 100%;
                margin-right: 15px;
            }
        }
        &__name {
            font-family: "Ubuntu";
            font-weight: 400;
            font-size: 15px;
            color: var(--grey);
            margin-bottom: 0;
        }
        &__username {
            font-family: "Ubuntu";
            font-weight: 400;
            font-size: 12px;
            font-style: italic;
            color: var(--light-grey);
            margin-bottom: 0;
        }
        &__description {
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 12px;
            color: var(--light-grey);
            margin: 20px 0;
        }
        &__buttons {
            button {
                border: 0;
                background: transparent;
                display: flex;
                align-items: center;
                p {
                   font-family: "Ubuntu";
                   font-weight: 400;
                   font-size: 12px;
                   color: var(--light-grey);
                   margin-bottom: 0;
                   margin-left: 5px;
                }
            }
        }
    }
}