.modalComponent {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99999999!important;
    @media only screen and (max-width: 575px) {
        background: none;
    }
    .modalBody {
        position:fixed;
        background: white;
        width: 440px;
        overflow-y: auto;
        max-height: 90vh;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        border-radius: 3px;
        @media only screen and (max-width: 575px) {
            width: 100% !important;
            height: calc(100vh - 80px);
            max-height: 100vh;
            top: 80px;
            left: 0;
            transform: none;
            overflow: hidden;
        }
        .modalChildren {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding:30px;
            @media only screen and (max-width: 575px) {
                padding: 0;
            }
        }
    }

}
.modalHeaderComponent {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 0;
    button {
        position: absolute;
        background: transparent;
        border: 0;
        top: 10px;
        right: 15px;
        cursor: pointer;
    }
}
.modalFooterComponent {
    display: flex;
    justify-content: space-between;
}

.displayBlock {
    display: flex!important;
    @media only screen and (max-width: 470px) {
        position: relative;
    }
}

.displayNone {
    display: none!important;
}

