.formikTextInputWrapper{
	min-height: 50px;
	margin-bottom: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
    label{
		font-family: "Ubuntu";
		color: var(--light-grey);
		font-size: 10px;
		font-weight: 400;
		margin: 0;
		position: absolute;
		left: 15px;
		top: 8px;
    }
    input{
		font-family: "Ubuntu";
        width: 100%;
        font-size: 13px;
        color: var(--grey);
        padding:19px 15px 9px;
		border: 1px solid var(--light-grey);
		font-weight: 400;
		border-radius: 3px;
		background: linear-gradient(0deg, #DFE5EA, #DFE5EA),
				linear-gradient(0deg, #F5F6F7, #F5F6F7);
        &:focus{
        	outline: none;
        }
		&[type="date"]::-webkit-inner-spin-button,
		&[type="date"]::-webkit-calendar-picker-indicator {
			display: none;
			-webkit-appearance: none;
			cursor: pointer;
		}
    }
	.errorMessage {
		color: var(--red);
		font-size: 14px;
		margin: 0;
	}
}
