.login {
    width: 100%;
    .login-title {
        font-family: "Ubuntu";
        font-size: 20px;
        font-weight: 500;
        color: var(--grey);
        margin-top: 5px;
        margin-bottom: 25px;
        text-align: center;
    }
    .username-input {
        margin-bottom: 10px;
    }
    form {
        width: 100%;
    }
}