.passwordInputWrapper{
    min-height: 50px;
    margin-bottom: 10px;
    position: relative;
    label{
		font-family: "Ubuntu";
		color: var(--light-grey);
		font-size: 10px;
		font-weight: 400;
		margin: 0;
		position: absolute;
		left: 15px;
		top: 8px;
    }
    input{
		font-family: "Ubuntu";
        width: 100%;
		font-size: 16px;
		font-weight: 400;
        color: var(--grey);
        padding:19px 15px 9px;
		border: 1px solid #DFE5EA;
		border-radius: 3px;
		background: #F5F6F7;
		&:focus{
			outline: none;
		}
    }
    .togglePasswordIcon{    
		position: absolute;
		bottom: 0;
		right: 0;
		height: 20px;
		width: 20px;
		margin: 15px;
		cursor: pointer;
		z-index: 999;
		&.notHidden{
			filter: invert(0.5);
		}
    }
	.errorMessage {
		color: var(--red);
		font-size: 14px;
		margin: 0;
	}
}
